
.loginPage_frame {
    border: 1px solid black;
    padding: 12rem 14rem;
    border-radius: 4em;
    background: url(./w4.jpg);
    opacity: 0.70;
    background-size: cover;
    background-position: center; 
}

h1 {
    font-size: 45px;
    margin-bottom: 7em;
    padding-bottom: 0.5em;
    
}

.loginPage_input {
    display: flex;
    flex-direction: column;
    
}

.l2 {

}

.inputs {
    display: block;
    width: 100%;
    border: solid 1px #bbb7b7;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 4%;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 0.3em;
    color: #bbb7b7;
    text-align: left; 
}


button {
    padding: 0.3em 0.6em;
    width: 100px;
    height: 30px;
    margin: 0.1em;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: none;
    border-radius: 5px;
    background-color: #a82d2d;
    color:#fff;
    text-align: center;
}