
.page {
    display: flex;
    flex-direction: row;
}


.create_input {
    
    width: 13rem;
    border: solid 1px #bbb7b7;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0.5rem;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 0.3em;
    color: #bbb7b7;
    text-align: left;
  
}

.map-container {
    height: 500px;
    
}

.mapboxgl-canvas {
    border-radius: 4em;
    
}